<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/simple.svg" />
				<h3>Reusable CI/CD</h3>
				<p>Create templated Supply Chains that provide a path to production for any type of application</p>
			</div>
			<div class="card">
				<img src="/img/frictionless.svg" />
				<h3>Separation of Concerns</h3>
				<p>Allow DevOps and Platform teams to define the steps of the path to production while providing an accessible abstraction layer for developers</p>
			</div>
			<div class="card">
				<img src="/img/seamless.svg" />
				<h3>Kubernetes Resource Interoperability</h3>
				<p>Choreograph both Kubernetes and non-Kubernetes resources within the same supply chain</p>
			</div>
		</div>
	</div>
</div>