<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/simple.svg" />
				<h3>Re-Usable CI/CD</h3>
				<p>Create templated Supply Chains that provide a path to production that can be used for any type of application</p>
			</div>
			<div class="card">
				<img src="/img/frictionless.svg" />
				<h3>Separation of Concerns</h3>
				<p>Allow DevOps and Platform teams to define the steps of the path to production while providing an accessible abstraction layer for developers</p>
			</div>
			<div class="card">
				<img src="/img/seamless.svg" />
				<h3>K8s Resource Interobability</h3>
				<p>Choreograph K8s resources (as well as non-K8s resources) within a supply chain</p>
			</div>
		</div>
	</div>
</div>