<div class="wrapper use-cases">
    <h2>Features</h2>
    <div class="grid two">
        <div class="col image">
            <img src="/img/administration.svg" />
        </div>
        <div class="col text">
            <p class="strong">Create Reusable Supply Chains</p>
            <p>Templating is built into the core of Cartographer - allowing the user to write Kubernetes resource definitions once and re-use them in any supply chain. Supply chains are also templated by default and can be re-used for many types of applications.</p> 
            
            <p>The end result is a minimum amount of YAML configuration necessary for platform teams and developers.</p>
            <!--<p><a href="#" class="button tertiary">Duis aute</a></p>-->
        </div>
    </div>
    <div class="grid two image-right">
        <div class="col text">
            <p class="strong">Defined Interface for Each Role</p>
            <p>Supply chains are independent of workloads and define all and any of the steps that are necessary for an application to reach production - CI, integration & performance tests, Security (SAST & DAST), Compliance, etc.</p>
                
            <p>Updating supply chains on a cluster makes Day 2 operations easy. Applying a new supply chain means that any team using it will get the updates as soon as they've been applied.
            </p>  
                
            <p>Workloads provide an abstraction layer allowing developers to focus on their application and the application configuration parameters that they care about.</p>
            <!--<p><a href="#" class="button tertiary">Duis aute</a></p>-->
        </div>
        <div class="col image">
            <img src="/img/authentication.svg" />
        </div>
    </div>
    <div class="grid two">
        <div class="col image">
            <img src="/img/cloud.svg" />
        </div>
        <div class="col text">
            <p class="strong">Works with Existing Tools</p>
            <p>Cartographer was designed to work with any Kubernetes object. As long as they are applied to a cluster they can be used in a supply chain. Cartographer allows you to wrap and template each of the objects that you would normally apply to a cluster and use them within a supply chain.</p>

            <p>The choreography engine lets a Cartographer user define sharp tools for each part of a path to production and allows the tool to do what it was designed to do. When each tool completes, Cartographer passes any output from a previous tool to the next one in the supply chain.</p>
            <!--<p><a href="#" class="button tertiary">Duis aute</a></p>-->
        </div>
    </div>
</div>