*.DS_Store
*.generated
.idea

/site/public/
/site/resources/

build/cartographer
cmd/random
coverage.*

kubeconfig
/release

hack/gitea-key
hack/gitea-key.pub
hack/git_entropy
hack/gitea-server-public-key
