--advertise-address=127.0.0.1
--etcd-servers={{ if .EtcdURL }}{{ .EtcdURL.String }}{{ end }}
--cert-dir={{ .CertDir }}
--insecure-port={{ if .URL }}{{ .URL.Port }}{{ end }}
--insecure-bind-address={{ if .URL }}{{ .URL.Hostname }}{{ end }}
--secure-port={{ if .SecurePort }}{{ .SecurePort }}{{ end }}
--disable-admission-plugins=ServiceAccount,NamespaceLifecycle
--service-cluster-ip-range=10.0.0.0/24
--advertise-address={{ if .URL }}{{ .URL.Hostname }}{{ end }}
--service-account-issuer=https://kubernetes.default.svc.cluster.local
--service-account-key-file={{ .CertDir }}/apiserver.crt
--service-account-signing-key-file={{ .CertDir }}/apiserver.key