<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
<!--    <link rel="icon" href="/favicon.ico" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/live-editor/assets/index.062e34d7.js"></script>
    <link rel="modulepreload" href="/live-editor/assets/vendor.3a37258e.js">
    <link rel="stylesheet" href="/live-editor/assets/vendor.8780ad32.css">
    <link rel="stylesheet" href="/live-editor/assets/index.61b61bb2.css">
  </head>
  <body>
    <div id="app"></div>
<!--    Todo: just attach the app to the body-->
    
  </body>
</html>
