<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/live-editor/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/live-editor/assets/index.0e8c3a5c.js"></script>
    <link rel="modulepreload" href="/live-editor/assets/vendor.970ff7e6.js">
    <link rel="stylesheet" href="/live-editor/assets/vendor.039622b7.css">
    <link rel="stylesheet" href="/live-editor/assets/index.f5cf00e7.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
