<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/live-editor/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/live-editor/assets/index.26bf193a.js"></script>
    <link rel="modulepreload" href="/live-editor/assets/vendor.8e210945.js">
    <link rel="stylesheet" href="/live-editor/assets/vendor.42c4fe5d.css">
    <link rel="stylesheet" href="/live-editor/assets/index.794d8ff5.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
